body{
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

table{
    width: 100%;
    border-collapse: collapse;
    border-top: 20px;
}

th, td{
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}

th{
    background-color: aliceblue;
}

button{
    cursor: pointer;
    padding: 5px 10px;
}